# Ignore data files
data/evaluation_data/*
!data/evaluation_data/acad_merge_eval.jsonl
data/Students/*
data/cleaned_Students/*
data/*.json



deepreason/rag/simple_vector_store/*
!deepreason/rag/simple_vector_store/placeholder

# Ignore Models
deepreason/models/*
!deepreason/models/placeholder
deepreason/rag/embedding_models/*
!deepreason/rag/embedding_models/placeholder

# Python artifacts
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environments
.venv/
env/
venv/

# Jupyter Notebook checkpoints and EDA
.ipynb_checkpoints/
eda.ipynb

# OS-specific
.DS_Store
Thumbs.db

# Logs
*.log

# VSCode settings
.vscode/

# Model checkpoints or temporary outputs (optional)
checkpoints/
*.ckpt
*.pt
*.pth

# PyTorch Lightning / HuggingFace cache
lightning_logs/
cache/
huggingface/