# Ignore all data files
data/*
deepreason/rag/simple_vector_store/*

# Ignore Models
deepreason/models/*
deepreason/rag/embedding_models/*

# Python artifacts
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environments
.venv/
env/
venv/

# Jupyter Notebook checkpoints and EDA
.ipynb_checkpoints/
eda.ipynb

# OS-specific
.DS_Store
Thumbs.db

# Logs
*.log

# VSCode settings
.vscode/

# Model checkpoints or temporary outputs (optional)
checkpoints/
*.ckpt
*.pt
*.pth

# PyTorch Lightning / HuggingFace cache
lightning_logs/
cache/
huggingface/